node_modules/
.expo/
dist/
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# Env (nunca commitar nada que comece com .env, exceto .example)
.env
.env.*
!.env.example

# Android build
android/build/
android/app/build/
android/.gradle/

# Web
web/node_modules/
web/.next/

# IDE
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db

# Supabase
supabase/.temp/
