node_modules/
.next/
out/
build/
dist/

# Env (nunca commitar nada que comece com .env, exceto .example)
.env
.env.*
!.env.example

npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store
*.pem
.vercel
*.tsbuildinfo
next-env.d.ts
